<a href="https://colab.research.google.com/github/SandyDRawat/Python_guided_projects/blob/main/Loan%20Status%20Prediction/Loan_Status_prediction_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [ ]:
data = pd.read_csv('/content/train_u6lujuX_CVtuZ9i (1).csv')

In [ ]:
print(data.head)

<bound method NDFrame.head of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [ ]:
data['Gender'] = data['Gender'].map({'Female': 0, 'Male':1})
data['Married'] = data['Married'].map({'No': 0, 'Yes':1})
data['Education'] = data['Education'].map({'Not Graduate': 0, 'Graduate':1})
data['Self_Employed'] = data['Self_Employed'].map({'No': 0, 'Yes':1})
data['Loan_Status'] = data['Loan_Status'].map({'N': 0, 'Y':1})
data['Property_Area'] = data['Property_Area'].map({'Urban': 0, 'Rural':1, 'Semiurban':2})

'''# convert categorical columns to numerical values
loan_dataset.replace({'Married':{'No':0,'Yes':1},'Gender':{'Male':1,'Female':0},'Self_Employed':{'No':0,'Yes':1},
                      'Property_Area':{'Rural':0,'Semiurban':1,'Urban':2},'Education':{'Graduate':1,'Not Graduate':0}},inplace=True)'''

"# convert categorical columns to numerical values\nloan_dataset.replace({'Married':{'No':0,'Yes':1},'Gender':{'Male':1,'Female':0},'Self_Employed':{'No':0,'Yes':1},\n                      'Property_Area':{'Rural':0,'Semiurban':1,'Urban':2},'Education':{'Graduate':1,'Not Graduate':0}},inplace=True)"

In [ ]:
print(data)

      Loan_ID  Gender  Married Dependents  Education  Self_Employed  \
0    LP001002     1.0      0.0          0          1            0.0
1    LP001003     1.0      1.0          1          1            0.0
2    LP001005     1.0      1.0          0          1            1.0
3    LP001006     1.0      1.0          0          0            0.0
4    LP001008     1.0      0.0          0          1            0.0
..        ...     ...      ...        ...        ...            ...
609  LP002978     0.0      0.0          0          1            0.0
610  LP002979     1.0      1.0         3+          1            0.0
611  LP002983     1.0      1.0          1          1            0.0
612  LP002984     1.0      1.0          2          1            0.0
613  LP002990     0.0      0.0          0          1            1.0

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History  Property_Area  Loan_Status
0               1.0              0            1
1               1.0              1            0
2               1.0              0            1
3               1.0              0            1
4               1.0              0            1
..              ...            ...          ...
609             1.0              1            1
610             1.0              1            1
611             1.0              0            1
612             1.0              0            1
613             0.0              2            0

[614 rows x 13 columns]

In [ ]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [ ]:
data = data.dropna()

In [ ]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
data= data.replace(to_replace='3+', value=4)

In [ ]:
X  = data.drop(columns = ['Loan_ID', 'Loan_Status'], axis = 1)
Y = data['Loan_Status']

In [ ]:
Y.isnull().sum()

0

In [ ]:
Y.shape

(480,)

In [ ]:
X_train ,X_test ,Y_train , Y_test  = train_test_split(X,Y,test_size=0.1,stratify = Y, random_state = 2)

In [ ]:
model = svm.SVC(kernel = 'linear')

In [ ]:
model.fit(X_train, Y_train)

SVC(kernel='linear')

In [ ]:
pred_train = model.predict(X_train)

In [ ]:
print('Accuracy on training data',accuracy_score(Y_train, pred_train))

Accuracy on training data 0.7824074074074074

In [ ]:
pred_test = model.predict(X_test)
print('Accuracy on testing data',accuracy_score(Y_test, pred_test))

Accuracy on testing data 0.8333333333333334